.id-card-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;
}

.id-card {
  flex-basis: 100%;
  max-width: 50rem;
  border: 1px solid #0eabca;
  color: #fff;
  padding: 1.5rem;
  background-color: #0a2129;
  box-shadow: 0 0 3px 1px #12a0a0, inset 0 0 3px 1px #12a0a0;
}
