.profile-row {
  display: flex;

  &__avatar {
    flex-basis: 33.3%;
    position: relative;
    margin: 2.5rem;
    align-self: center;
  }

  &__desc {
    font-family: "Orbitron", sans-serif;
    color: #ecfcfb;
    text-shadow: 0 0 4px #12a0a0;
    letter-spacing: 1px;
    line-height: 2.5rem;
    padding: 1.5rem;
    flex-basis: 66.6%;
  }
}
